* {
    box-sizing: border-box;
    font-family: Poppins;
}

#landing {
    padding: 5vw;
    height: 80vh;
    width: 100%;
    background-image: url("../assets/img/mangawhai-heads-1.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

button {
    border: none;
    background-color: white;
    height: 6vh;
    width: 13vh;
}

#logo {
    height: 4vh;
}

#menu {
    height: 4vh;
}

#heroText {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-size: 1.8vh;
}

#about {
    background-color: #e0e0db;
    padding: 5vw;
    height: auto;
    width: 100%;
}

#about h1 {
    font-size: 2vh;
}

#about p {
    font-size: 1.5vh;
}

#cards {
    padding: 5vw;
    display: grid;
    background-color: white;
    height: auto;
    width: 100%;
}

#cards img {
    height: 38vh;
    width: 38vh;
    display: block;
    margin: 0 auto;
}

#cards button {
    color: white;
    background-color: #28354f;
    margin-bottom: 5vh;
}

#backgroundWithText {
    height: 40vh;
    width: 100%;
    background-image: url("../assets/img/mangawhai-heads-1.jpg");
    background-position: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2vh;
}


footer {
    color: white;
    padding-top: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    height: 40vh;
    width: 100%;
    display: grid;
    justify-items: left;
    background-color: #2a2829;
}
#contact {
    height: auto;
    width: 100%;

}

#footerLogo {
    filter: invert(1);
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
}

footer a {
    color: white;
    text-decoration: white;
    text-decoration: underline;
}

input {
    height: 6vh;
    width: 13vh;
}
